@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.help {
  $root: &;

  display: flex;
  justify-content: space-between;
  padding: 60px 0;

  &__container {
    padding-left: 15px;
    width: 100%;
    max-width: 565px;

    &--right {
      padding-left: 0;
      max-width: 594px;
    }
  }

  &__list {
    display: flex;

    &--right {
      flex-direction: column;
    }
  }

  &__content {
    span {
      display: block;
      margin-bottom: 12px;
      font-weight: var(--fw-700);
      font-size: 44px;
      line-height: 1.3;
    }

    p {
      text-indent: 0;
    }

    &--center {
      padding: 0 62px 0 68px;
    }
  }

  &__item {
    position: relative;
    padding-top: 3px;
    padding-left: 87px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &::before {
      content: "";
      width: 62px;
      height: 62px;
      background-image: url("data:image/svg+xml,%3Csvg width='62' height='62' viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='31' cy='31' r='31' fill='%23F9F9F9'/%3E%3Cpath d='M37.25 26.8999C37.0125 26.8999 36.775 26.8124 36.5875 26.6249L34.0875 24.1249C33.725 23.7624 33.725 23.1624 34.0875 22.7999C34.45 22.4374 35.05 22.4374 35.4125 22.7999L37.25 24.6374L41.5875 20.3124C41.95 19.9499 42.55 19.9499 42.9125 20.3124C43.275 20.6749 43.275 21.2749 42.9125 21.6374L37.9125 26.6374C37.725 26.7999 37.4875 26.8999 37.25 26.8999Z' fill='%23E89F71'/%3E%3Cpath d='M29.8125 34.6875L27.5 37C27.0125 37.4875 26.2375 37.4875 25.7375 37.0125C25.6 36.875 25.4625 36.75 25.325 36.6125C24.0375 35.3125 22.875 33.95 21.8375 32.525C20.8125 31.1 19.9875 29.675 19.3875 28.2625C18.8 26.8375 18.5 25.475 18.5 24.175C18.5 23.325 18.65 22.5125 18.95 21.7625C19.25 21 19.725 20.3 20.3875 19.675C21.1875 18.8875 22.0625 18.5 22.9875 18.5C23.3375 18.5 23.6875 18.575 24 18.725C24.325 18.875 24.6125 19.1 24.8375 19.425L27.7375 23.5125C27.9625 23.825 28.125 24.1125 28.2375 24.3875C28.35 24.65 28.4125 24.9125 28.4125 25.15C28.4125 25.45 28.325 25.75 28.15 26.0375C27.9875 26.325 27.75 26.625 27.45 26.925L26.5 27.9125C26.3625 28.05 26.3 28.2125 26.3 28.4125C26.3 28.5125 26.3125 28.6 26.3375 28.7C26.375 28.8 26.4125 28.875 26.4375 28.95C26.6625 29.3625 27.05 29.9 27.6 30.55C28.1625 31.2 28.7625 31.8625 29.4125 32.525C29.5375 32.65 29.675 32.775 29.8 32.9C30.3 33.3875 30.3125 34.1875 29.8125 34.6875Z' fill='%23E89F71'/%3E%3Cpath d='M43.4625 38.9125C43.4625 39.2625 43.4 39.6251 43.275 39.975C43.2375 40.075 43.2 40.175 43.15 40.275C42.9375 40.725 42.6625 41.1501 42.3 41.5501C41.6875 42.225 41.0125 42.7126 40.25 43.0251C40.2375 43.0251 40.225 43.0375 40.2125 43.0375C39.475 43.3375 38.675 43.5 37.8125 43.5C36.5375 43.5 35.175 43.2001 33.7375 42.5876C32.3 41.975 30.8625 41.1501 29.4375 40.1126C28.95 39.7501 28.4625 39.3875 28 39L32.0875 34.9125C32.4375 35.175 32.75 35.375 33.0125 35.5125C33.075 35.5375 33.15 35.575 33.2375 35.6125C33.3375 35.65 33.4375 35.6625 33.55 35.6625C33.7625 35.6625 33.925 35.5875 34.0625 35.45L35.0125 34.5125C35.325 34.2 35.625 33.9625 35.9125 33.8125C36.2 33.6375 36.4875 33.55 36.8 33.55C37.0375 33.55 37.2875 33.6 37.5625 33.7125C37.8375 33.825 38.125 33.9875 38.4375 34.2L42.575 37.1375C42.9 37.3625 43.125 37.625 43.2625 37.9375C43.3875 38.25 43.4625 38.5625 43.4625 38.9125Z' fill='%23E89F71'/%3E%3C/svg%3E%0A");
      position: absolute;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      background-size: 62px;
    }

    h3 {
      margin-bottom: 16px;
      font-weight: var(--fw-700);
      font-size: 26px;
      letter-spacing: 0.3px;
    }

    p {
      line-height: 1.8;
      text-align: left;
      text-indent: 0;
    }

    &--support {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='62' height='62' viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='31' cy='31' r='31' fill='%23F9F9F9'/%3E%3Cpath d='M37.25 26.8999C37.0125 26.8999 36.775 26.8124 36.5875 26.6249L34.0875 24.1249C33.725 23.7624 33.725 23.1624 34.0875 22.7999C34.45 22.4374 35.05 22.4374 35.4125 22.7999L37.25 24.6374L41.5875 20.3124C41.95 19.9499 42.55 19.9499 42.9125 20.3124C43.275 20.6749 43.275 21.2749 42.9125 21.6374L37.9125 26.6374C37.725 26.7999 37.4875 26.8999 37.25 26.8999Z' fill='%23E89F71'/%3E%3Cpath d='M29.8125 34.6875L27.5 37C27.0125 37.4875 26.2375 37.4875 25.7375 37.0125C25.6 36.875 25.4625 36.75 25.325 36.6125C24.0375 35.3125 22.875 33.95 21.8375 32.525C20.8125 31.1 19.9875 29.675 19.3875 28.2625C18.8 26.8375 18.5 25.475 18.5 24.175C18.5 23.325 18.65 22.5125 18.95 21.7625C19.25 21 19.725 20.3 20.3875 19.675C21.1875 18.8875 22.0625 18.5 22.9875 18.5C23.3375 18.5 23.6875 18.575 24 18.725C24.325 18.875 24.6125 19.1 24.8375 19.425L27.7375 23.5125C27.9625 23.825 28.125 24.1125 28.2375 24.3875C28.35 24.65 28.4125 24.9125 28.4125 25.15C28.4125 25.45 28.325 25.75 28.15 26.0375C27.9875 26.325 27.75 26.625 27.45 26.925L26.5 27.9125C26.3625 28.05 26.3 28.2125 26.3 28.4125C26.3 28.5125 26.3125 28.6 26.3375 28.7C26.375 28.8 26.4125 28.875 26.4375 28.95C26.6625 29.3625 27.05 29.9 27.6 30.55C28.1625 31.2 28.7625 31.8625 29.4125 32.525C29.5375 32.65 29.675 32.775 29.8 32.9C30.3 33.3875 30.3125 34.1875 29.8125 34.6875Z' fill='%23E89F71'/%3E%3Cpath d='M43.4625 38.9125C43.4625 39.2625 43.4 39.6251 43.275 39.975C43.2375 40.075 43.2 40.175 43.15 40.275C42.9375 40.725 42.6625 41.1501 42.3 41.5501C41.6875 42.225 41.0125 42.7126 40.25 43.0251C40.2375 43.0251 40.225 43.0375 40.2125 43.0375C39.475 43.3375 38.675 43.5 37.8125 43.5C36.5375 43.5 35.175 43.2001 33.7375 42.5876C32.3 41.975 30.8625 41.1501 29.4375 40.1126C28.95 39.7501 28.4625 39.3875 28 39L32.0875 34.9125C32.4375 35.175 32.75 35.375 33.0125 35.5125C33.075 35.5375 33.15 35.575 33.2375 35.6125C33.3375 35.65 33.4375 35.6625 33.55 35.6625C33.7625 35.6625 33.925 35.5875 34.0625 35.45L35.0125 34.5125C35.325 34.2 35.625 33.9625 35.9125 33.8125C36.2 33.6375 36.4875 33.55 36.8 33.55C37.0375 33.55 37.2875 33.6 37.5625 33.7125C37.8375 33.825 38.125 33.9875 38.4375 34.2L42.575 37.1375C42.9 37.3625 43.125 37.625 43.2625 37.9375C43.3875 38.25 43.4625 38.5625 43.4625 38.9125Z' fill='%23E89F71'/%3E%3C/svg%3E%0A");
      }
    }

    &--free {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='62' height='62' viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='31' cy='31' r='31' fill='%23F9F9F9'/%3E%3Cpath d='M32.4875 23.5H24.4875C24.1625 23.5 23.85 23.5125 23.55 23.55C20.1875 23.8375 18.5 25.825 18.5 29.4875V34.4875C18.5 39.4875 20.5 40.475 24.4875 40.475H24.9875C25.2625 40.475 25.625 40.6625 25.7875 40.875L27.2875 42.875C27.95 43.7625 29.025 43.7625 29.6875 42.875L31.1875 40.875C31.375 40.625 31.675 40.475 31.9875 40.475H32.4875C36.15 40.475 38.1375 38.8 38.425 35.425C38.4625 35.125 38.475 34.8125 38.475 34.4875V29.4875C38.475 25.5 36.475 23.5 32.4875 23.5ZM24.125 33.5C23.425 33.5 22.875 32.9375 22.875 32.25C22.875 31.5625 23.4375 31 24.125 31C24.8125 31 25.375 31.5625 25.375 32.25C25.375 32.9375 24.8125 33.5 24.125 33.5ZM28.4875 33.5C27.7875 33.5 27.2375 32.9375 27.2375 32.25C27.2375 31.5625 27.8 31 28.4875 31C29.175 31 29.7375 31.5625 29.7375 32.25C29.7375 32.9375 29.1875 33.5 28.4875 33.5ZM32.8625 33.5C32.1625 33.5 31.6125 32.9375 31.6125 32.25C31.6125 31.5625 32.175 31 32.8625 31C33.55 31 34.1125 31.5625 34.1125 32.25C34.1125 32.9375 33.55 33.5 32.8625 33.5Z' fill='%23E89F71'/%3E%3Cpath d='M43.475 24.4875V29.4875C43.475 31.9875 42.7 33.6875 41.15 34.625C40.775 34.85 40.3375 34.55 40.3375 34.1125L40.35 29.4875C40.35 24.4875 37.4875 21.625 32.4875 21.625L24.875 21.6375C24.4375 21.6375 24.1375 21.2 24.3625 20.825C25.3 19.275 27 18.5 29.4875 18.5H37.4875C41.475 18.5 43.475 20.5 43.475 24.4875Z' fill='%23E89F71'/%3E%3C/svg%3E%0A");
      }
    }

    &--overall {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='62' height='62' viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='31' cy='31' r='31' fill='%23F9F9F9'/%3E%3Cpath d='M38.2625 22.8625V23.7875L33.8375 21.225C32.1625 20.2625 29.825 20.2625 28.1625 21.225L23.7375 23.8V22.8625C23.7375 20.05 25.275 18.5 28.0875 18.5H33.9125C36.725 18.5 38.2625 20.05 38.2625 22.8625Z' fill='%23E89F71'/%3E%3Cpath d='M38.3 25.9625L38.125 25.875L36.425 24.9L32.9 22.8625C31.825 22.2375 30.175 22.2375 29.1 22.8625L25.575 24.8875L23.875 25.8875L23.65 26C21.4625 27.475 21.3125 27.75 21.3125 30.1125V35.7625C21.3125 38.125 21.4625 38.4 23.7 39.9125L29.1 43.0251C29.6375 43.35 30.3125 43.4875 31 43.4875C31.675 43.4875 32.3625 43.3376 32.9 43.0251L38.35 39.875C40.55 38.4 40.6875 38.1375 40.6875 35.7625V30.1125C40.6875 27.75 40.5375 27.475 38.3 25.9625ZM34.4875 32.875L33.725 33.8125C33.6 33.95 33.5125 34.2125 33.525 34.4L33.6 35.6C33.65 36.3375 33.125 36.7126 32.4375 36.4501L31.325 36C31.15 35.9375 30.8625 35.9375 30.6875 36L29.575 36.4375C28.8875 36.7125 28.3625 36.325 28.4125 35.5875L28.4875 34.3875C28.5 34.2 28.4125 33.9375 28.2875 33.8L27.5125 32.875C27.0375 32.3125 27.25 31.6875 27.9625 31.5L29.125 31.2C29.3125 31.15 29.525 30.975 29.625 30.825L30.275 29.825C30.675 29.2 31.3125 29.2 31.725 29.825L32.375 30.825C32.475 30.9875 32.7 31.15 32.875 31.2L34.0375 31.5C34.75 31.6875 34.9625 32.3125 34.4875 32.875Z' fill='%23E89F71'/%3E%3C/svg%3E%0A");
      }
    }
  }

  h2 {
    margin-bottom: 51px;
    letter-spacing: -0.8px;
  }

  @include media(tablet-wide) {
    &__container {
      margin-right: 20px;
    }
  }

  @include media(tablet) {
    flex-direction: column;
    align-items: center;

    &__container {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  @include media(mobile-s) {
    &__content {
      span {
        font-size: 24px;
      }

      &--center {
        padding: 0 20px;
      }
    }
  }
}