@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.policy {
  padding: 60px 0;
  line-height: 1.5;

  &__content {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  h1 {
    position: relative;
    margin-bottom: 60px;
    font-weight: var(--fw-700);
    font-size: clamp(20px, 2rem + 1vi, 40px);
    line-height: 1;
    text-transform: uppercase;
  }

  h2 {
    margin-bottom: 24px;
    font-family: var(--font-family-primary);
    font-weight: var(--fw-700);
    font-size: clamp(20px, 2rem + 1vi, 38px);
    line-height: 1.2;
  }

  ul {
    margin-bottom: 60px;
  }

  li {
    font-weight: var(--fw-300);
    font-style: var(--fs-italic);
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 0;
    color: var(--color-dark);

    &::before {
      content: "✓";
      margin-right: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  p {
    font-weight: var(--fw-300);
    font-style: var(--fs-italic);
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 30px;
    color: var(--color-dark);

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  a {
    text-decoration: underline;
    color: var(--color-dark);
  }

  @include media(tablet) {
    padding: 32px 0;

    .container {
      padding: 32px 10px;
    }
  }
}