/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --content-width: 1240px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Open Sans", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;

  // font-style
  --fs-italic: italic;

  // font-weight
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  // color
  --color-white: #fff;
  --color-black: #3A3A3A;
  --color-dark: #403E3E;
  --color-pink-100: #FFF6F6;
  --color-orange-100: #FCF8F3;
  --color-orange-150: #e89f7166;
  --color-orange-200: #E89F71;
  --color-gray-50: #F9F9F9;
  --color-gray-100: #D8D8D8;
  --color-gray-150: rgba(255, 255, 255, 0.72);
  --color-gray-200: #8A8A8A;
  --color-gray-250: #EEEEEE;

  //  radius
  --radius-main: 40px;

  // shadow
  --shadow-primary: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
}